section#about {
  height: calc(100vh + 1px);
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

section#about .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-gray);
  height: 100%;
  width: 100%;
  z-index: 2;
}

section#about .shadow {
  position: absolute;
  border: 1px solid var(--blue);
  z-index: 1;
}

section#about p,
section#about strong {
  font-weight: 200;
  text-align: justify;
}

section#about strong {
  font-weight: 700;
}

section#about a {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  border: 1px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

section#about a:hover {
  background-color: var(--blue);
  color: var(--bg-gray);
}

@media screen and (min-width: 1366px) {
  section#about {
    padding: 120px 200px;
  }
  section#about .container {
    padding: 50px 50px 60px 50px;
  }
  section#about p,
  section#about strong {
    font-size: 1.45rem;
    line-height: 1.5;
  }

  section#about .cta {
    margin-bottom: 30px;
  }

  section#about a {
    font-size: 1.2rem;
    padding: 10px 30px;
  }
  section#about .shadow {
    right: 200px;
    left: 200px;
    bottom: 120px;
    top: 120px;

    transform: translate(20px, 20px);
  }
}

@media screen and (min-width: 1800px) {
  section#about {
    padding: 140px 250px;
  }

  section#about .container {
    padding: 60px 60px 70px 60px;
  }

  section#about p,
  section#about strong {
    font-size: 1.8rem;
  }

  section#about .cta {
    margin-bottom: 40px;
  }

  section#about a {
    font-size: 1.4rem;
    padding: 10px 40px;
  }

  section#about .shadow {
    right: 250px;
    left: 250px;
    bottom: 140px;
    top: 140px;

    transform: translate(20px, 20px);
  }
}

@media screen and (min-width: 1920px) {
  section#about {
    padding: 160px 300px;
  }
  section#about .container {
    padding: 70px 70px 80px 70px;
  }
  section#about p,
  section#about strong {
    font-size: 1.8rem;
    line-height: 1.5;
  }

  section#about .cta {
    margin-bottom: 40px;
  }

  section#about a {
    font-size: 1.6rem;
    padding: 10px 40px;
  }
  section#about .shadow {
    right: 300px;
    left: 300px;
    bottom: 160px;
    top: 160px;

    transform: translate(20px, 20px);
  }
}
