section#about {
  height: calc(100vh + 1px);
  max-width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

section#about .container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--bg-gray);
  height: 100%;
  z-index: 2;
}

section#about .shadow {
  position: absolute;
  height: 70vh;
  width: 70vw;
  border: 1px solid var(--blue);
  transform: translate(30px, 10px);
  z-index: 1;
}

section#about p,
section#about strong {
  font-weight: 200;
  text-align: justify;
}

section#about strong {
  font-weight: 700;
}

section#about div p {
  margin-bottom: 25px;
}

section#about button {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  border: 1px solid var(--blue);
  background-color: transparent;
  color: var(--blue);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

section#about button:hover {
  background-color: var(--blue);
  color: var(--bg-gray);
}

@media screen and (min-width: 992px) {
  section#about {
    padding: 120px 200px;
  }
  section#about .container {
    padding: 70px 90px;
  }
  section#about p,
  section#about strong {
    font-size: 1.45rem;
    line-height: 1.5;
  }
  section#about button {
    font-size: 1.2rem;
    padding: 10px 30px;
  }
}
