header {
  background-color: var(--black);
  height: 70px;
  padding: 0 50px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

nav {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 30px;
  height: 100%;
}

nav li {
  list-style: none;
  font-weight: 300;
  cursor: pointer;
  box-shadow: none;
  transition: all 0.2s ease-in-out;
}

nav li:hover {
  color: var(--blue);
}

nav li.active {
  color: var(--blue);
  box-shadow: 0 2px 0 var(--blue);
}

@media screen and (min-width: 992px) {
  header {
    padding: 0 70px;
    height: 60px;
  }
}

@media screen and (min-width: 1441px) and (max-width: 1920px) {
  header {
    padding: 0 100px;
    height: 80px;
  }
  nav li {
    font-size: 1.2rem;
  }
}
