section#home {
  height: calc(100vh + 1px);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

section#home h1 {
  font-size: 3rem;
  font-weight: 700;
  z-index: 1;
}

section#home h1:nth-child(2) {
  color: var(--blue);
}

section#home h2 {
  font-family: 'Lexend', sans-serif;
  font-weight: 200;
}

section#home img {
  position: absolute;
  height: 105vh;
  right: 0;
  bottom: 0;
}

@media screen and (min-width: 1366px) {
  section#home {
    padding-left: 120px;
  }
  section#home > div {
    margin-top: -100px;
  }
  section#home h1 {
    font-size: 3.5rem;
    font-weight: 700;
  }

  section#home h2 {
    font-size: 1.5rem;
    margin-top: 35px;
  }
  section#home img {
    right: -50px;
  }
}

@media screen and (min-width: 1920px) {
  section#home {
    padding-left: 170px;
  }
  section#home > div {
    margin-top: -170px;
  }
  section#home h1 {
    font-size: 4.5rem;
    font-weight: 700;
  }

  section#home h2 {
    font-size: 2rem;
    margin-top: 50px;
  }
  section#home img {
    right: -50px;
  }
}

@media screen and (min-width: 2560px) {
  /* TO DO */
}
