*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--white);
  font-family: 'Lexend', sans-serif;
  position: relative;
  font-size: 1rem;
  font-weight: 400;
}

:root {
  font-size: 16px;
  font-weight: 400;

  --black: #000000;
  --white: #ffffff;
  --blue: #38b6ff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--black);
}

#root {
  min-height: 100vh;
  width: 100vw;
}

main {
  background-color: var(--black);
  display: grid;
  grid-template-columns: 250px 1fr 250px;
  padding-top: 30px;
  padding-bottom: 30px;
}

p {
  display: inline-block;
  cursor: default;
}

span {
  color: inherit;
}

a {
  text-decoration: none;
  color: var(--blue);
}
a:hover {
  text-decoration: underline;
}

h1,
h2,
h3,
h4 {
  font-family: 'Space Grotesk', sans-serif;
}
