section#linkle {
  height: calc(100vh + 1px);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
  overflow: hidden;
}

section#linkle > div:first-child {
  position: absolute;
}

section#linkle h3 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  color: var(--blue);
  text-align: end;
}

section#linkle p {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
}

section#linkle a {
  display: flex;
  align-self: center;
  gap: 5px;
  font-weight: 300;
}

section#linkle a svg {
  transition: all 0.2s ease-in-out;
  fill: var(--white);
  align-self: center;
}

section#linkle a:hover > svg {
  fill: var(--blue);
}

section#linkle .project {
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

section#linkle .project img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section#linkle .project h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

section#linkle .project p {
  font-weight: 100;
}

section#linkle .project .buttons {
  display: flex;
  align-items: center;
}

section#linkle .project .buttons > * {
  font-weight: 400;
  font-family: 'Space Grotesk', sans-serif;
  border: 0.5px solid var(--white);
  display: flex;
  align-items: center;
}

section#linkle .project .buttons > *:first-child:hover {
  background-color: var(--blue);
  color: var(--black);
  fill: var(--black);
}

section#linkle .project .buttons > *:first-child:hover > svg {
  fill: var(--black);
}

section#linkle .project .buttons > *:last-child:hover {
  background-color: var(--red);
  color: var(--white);
}

section#linkle .project .buttons > *:last-child:hover > svg {
  fill: var(--white);
}

section#linkle .gradient {
  position: absolute;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 3));
  background: linear-gradient(var(--black), var(--blue));
}

@media screen and (min-width: 1366px) {
  section#linkle > div:first-child {
    top: 90px;
  }

  section#linkle > div:first-child div {
    width: 305px;
    box-shadow: inset 0 -3px 0 var(--blue);
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  section#linkle h3 {
    font-size: 1.6rem;
  }

  section#linkle > div:first-child p {
    padding-left: 100px;
  }

  section#linkle p,
  section#linkle a {
    font-size: 1.1rem;
  }

  section#linkle a svg {
    height: 20px;
    width: 20px;
  }

  section#linkle .project {
    gap: 120px;
    margin-top: 100px;
    padding: 0 100px;
  }
  section#linkle .project > div {
    display: flex;
    flex-direction: column;
  }
  section#linkle .project > div {
    gap: 35px;
  }
  section#linkle .project h2 {
    font-size: 2rem;
  }
  section#linkle .project p {
    font-size: 1.4rem;
  }
  section#linkle .project .buttons {
    gap: 20px;
  }
  section#linkle .project .buttons > * {
    font-size: 1.2rem;
    padding: 10px 30px;
    gap: 10px;
  }

  section#linkle .project .buttons > * > svg {
    height: 25px;
    width: 25px;
  }

  section#linkle .project .buttons > *:first-child:hover {
    border: 0.5px solid var(--blue);
  }

  section#linkle .project .buttons > *:last-child:hover {
    border: 0.5px solid var(--red);
  }

  section#linkle .gradient {
    --size: 500px;
    right: -5%;
    bottom: -200px;
  }
}

@media screen and (min-width: 1920px) {
  section#linkle > div:first-child {
    top: 120px;
  }

  section#linkle > div:first-child div {
    width: 405px;
    box-shadow: inset 0 -4px 0 var(--blue);
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  section#linkle h3 {
    font-size: 2.2rem;
  }

  section#linkle > div:first-child p {
    padding-left: 125px;
  }

  section#linkle p,
  section#linkle a {
    font-size: 1.4rem;
  }

  section#linkle a svg {
    height: 30px;
    width: 30px;
  }

  section#linkle .project {
    gap: 100px;
    margin-top: 125px;
    padding: 0 125px;
  }

  section#linkle .project img {
    width: 150%;
  }

  section#linkle .project > div {
    display: flex;
    flex-direction: column;
  }
  section#linkle .project > div {
    gap: 50px;
  }
  section#linkle .project h2 {
    font-size: 2.6rem;
  }
  section#linkle .project p {
    font-size: 2rem;
  }
  section#linkle .project .buttons {
    gap: 30px;
  }
  section#linkle .project .buttons > * {
    font-size: 1.6rem;
    padding: 10px 40px;
    gap: 15px;
  }

  section#linkle .project .buttons > * > svg {
    height: 40px;
    width: 40px;
  }

  section#linkle .project .buttons > *:first-child:hover {
    border: 1px solid var(--blue);
  }

  section#linkle .project .buttons > *:last-child:hover {
    border: 1px solid var(--red);
  }

  section#linkle .gradient {
    --size: 600px;
    right: -5%;
    bottom: -200px;
  }
}
