section#skills {
  height: calc(100vh + 1px);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

video {
  position: absolute;
  z-index: 1;
}

section#skills .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  z-index: 2;
}

section#skills .type {
  display: flex;
  flex-direction: column;
  z-index: 2;
}

section#skills .type > h2 {
  font-weight: 700;
  color: var(--white);
  font-family: 'Space Grotesk', sans-serif;
  z-index: 2;
}

section#skills .skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

section#skills .skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

section#skills .skill img {
  transition: all 0.2s ease-in-out;
}

section#skills .skill p {
  text-align: center;
  opacity: 0;
  font-weight: 200;
  color: var(--white);
  z-index: 2;
  transition: all 0.2s ease-in-out;
}

section#skills .skill:hover p {
  opacity: 1;
  transform: translateY(0px);
}
@media screen and (max-width: 450px) {
  section#skills .container {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  video {
    display: none;
  }

  section#skills .type {
    gap: 20px;
    padding: 0 30px;
  }

  section#skills .type > h2 {
    font-size: 1.6rem;
  }

  section#skills .type .skills {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }

  section#skills .skill img {
    width: 50px;
    height: 50px;
  }

  section#skills .skill:hover img {
    transform: translateY(-10px);
  }

  section#skills .skill p {
    transform: translateY(-5px);
    font-size: 0.8rem;
  }
}

@media screen and (min-width: 1366px) {
  section#skills .container {
    gap: 20px;
    padding: 0 150px;
  }

  video {
    display: block;
  }

  section#skills .type {
    gap: 30px;
  }
  section#skills .type > h2 {
    font-size: 2rem;
  }

  section#skills .skills {
    gap: 20px;
  }

  section#skills .skill img {
    width: 80px;
    height: 80px;
  }

  section#skills .skill:hover img {
    transform: translateY(-15px);
  }

  section#skills .skill p {
    transform: translateY(-10px);
    font-size: 1rem;
  }
}

@media screen and (min-width: 1920px) {
  section#skills .container {
    gap: 20px;
    padding: 0 200px;
  }

  section#skills .type {
    gap: 40px;
  }
  section#skills .type > h2 {
    font-size: 2.8rem;
  }
  section#skills .skills {
    gap: 20px;
  }
  section#skills .skill img {
    width: 100px;
    height: 100px;
  }

  section#skills .skill:hover img {
    transform: translateY(-20px);
  }

  section#skills .skill p {
    transform: translateY(-15px);
    font-size: 1.5rem;
  }
}
