section#tech-hub {
  height: calc(100vh + 1px);
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 1;
}

section#tech-hub p {
  font-weight: 300;
  display: flex;
  align-items: center;
  gap: 5px;
}

section#tech-hub a {
  display: flex;
  align-self: center;
  gap: 5px;
  font-weight: 300;
}

section#tech-hub a svg {
  height: 20px;
  width: 20px;
  transition: all 0.2s ease-in-out;
  fill: var(--white);
  align-self: center;
}

section#tech-hub a:hover > svg {
  fill: var(--blue);
}

section#tech-hub .project {
  display: flex;
  align-items: center;
  z-index: 1;
  overflow: hidden;
}

section#tech-hub .project img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

section#tech-hub .project h2 {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
}

section#tech-hub .project p {
  font-weight: 100;
}

section#tech-hub .project .buttons {
  display: flex;
  align-items: center;
}

section#tech-hub .project .buttons > * {
  font-weight: 400;
  font-family: 'Space Grotesk', sans-serif;
  border: 0.5px solid var(--white);
  display: flex;
  align-items: center;
  gap: 10px;
}

section#tech-hub .project .buttons > *:first-child:hover {
  background-color: var(--blue);
  border: 0.5px solid var(--blue);
  color: var(--black);
  fill: var(--black);
}

section#tech-hub .project .buttons > *:first-child:hover > svg {
  fill: var(--black);
}

section#tech-hub .project .buttons > *:last-child:hover {
  background-color: var(--red);
  border: 0.5px solid var(--red);
  color: var(--white);
}

section#tech-hub .project .buttons > *:last-child:hover > svg {
  fill: var(--white);
}

section#tech-hub .gradient {
  position: absolute;
  width: var(--size);
  height: var(--size);
  filter: blur(calc(var(--size) / 2));
  background: linear-gradient(var(--black), var(--blue));
}

@media screen and (min-width: 992px) {
  section#tech-hub p,
  section#tech-hub a {
    font-size: 1.1rem;
  }

  section#tech-hub button {
    font-size: 1.2rem;
    padding: 10px 30px;
  }
  section#tech-hub .project {
    gap: 120px;
    padding: 0 100px;
  }
  section#tech-hub .project > div {
    display: flex;
    flex-direction: column;
  }
  section#tech-hub .project > div {
    gap: 35px;
  }
  section#tech-hub .project h2 {
    font-size: 2rem;
  }
  section#tech-hub .project p {
    font-size: 1.4rem;
  }
  section#tech-hub .project .buttons {
    gap: 20px;
  }
  section#tech-hub .project .buttons > * {
    font-size: 1.2rem;
    padding: 10px 30px;
  }

  section#tech-hub .project .buttons > * > svg {
    height: 25px;
    width: 25px;
  }

  section#tech-hub .gradient {
    --size: 300px;
    left: -20%;
    bottom: 200px;
  }
}
